.item {
    width: 100%;
}

.item:hover{
    background-color: #d4e1e8b0;
    border-radius: 10px;
}

.item img {
    width: 5%;
    vertical-align: middle;
    margin-right: 1%;
}

.item div{
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}


.boldLbl{
    font-size: 110%;
}

@media only screen and (max-width: 950px) {
    .boldLbl{
        font-size: 90%;
    }
    .item img {
        width: 50px;
    }
}


